*{
    padding: 0;
    margin: 0;
}
.container{
   border: 5px solid #6a3506;
    width:794px;
    height: 1100px;
    margin: 40px auto;
    padding: 25px 10px;
    background-color: #fefbf7;
    /* background-image: url('/assets/marksheet\ logo.jpeg');
   background-repeat: no-repeat;
      */
}  
.heading,.totalinfo,.dce,.date,.declaration  {
    color: rgb(128, 36, 3);

}   
.last td {
    color:rgb(128, 36, 3);
    border-color: black;
    
}
.last th{
    color: rgb(128, 36, 3);
    border-color: black;
       
}
.totalmarks{
    color: black;
}

.sr{
    display: flex;
    flex-direction: row;
}
.head{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 150px;
    padding: 0px 85px;
    
}
.qr{
    width: 100px;
    height:100px;
}
.collegedetail{
    text-align: center;
}
.marksheettitle{
    padding-top: 1rem;
}



.namecourse{
    display: flex;
    margin: 0px 15px;
    text-align: center;
    
}
.name,.course{
        border: 1px solid black;
        flex: 1;
}
.blockdiv{
    border: 1px solid black;
    flex: 1;
    padding: 10px;
}
.detailreg{
    display: flex;
    margin: 0px 15px;
    text-align: center;
}
.reg1{
    flex: 1;
}
.reg2{
    flex: 1;
}
.reg3{
    padding-left: 31px;
    flex: 2;
}
/* table css */
table{
    margin: 25px 15px ;
    height: 50vh;
    text-align: center;
}
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 7px;
}
input{
    font-size: 17px;
    width: 65%;
    border: 0;
    padding: 8px;
    in
  
}
.totalmarks,.totalinfo{
    text-align: left;
}

/* foot */
.footer{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    text-align: center;
    padding-left: 15px;
}
.datediv{
    padding-top: 100px;
}
.date{
    font-weight: 1000;

}
.sealdiv{
    width: 50%;
    text-align: center;
    padding-left: 50px;
    opacity: 0.35;
}
.signaturediv{
    padding-top: 45px;
    width: 28%;
}
.dce{
    font-weight: 1000;
}   

    .declaration {
        margin-top: 15px;
        text-align: center;
    }